{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<section id="register" class="py-5">
  <h1>Register</h1>
  <form action="/register" method="POST" autocomplete="off">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" id="username" required class="form-control">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" id="password" autocomplete="new-password" required class="form-control">
      <div id="passwordHelpBlock" class="form-text">
        Your password must be 12 or more characters long.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</section>
{% endblock %}